################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/QuizzApp/.vs/QuizzApp
/QuizzApp/bin/Debug/net6.0
/QuizzApp/obj
/QuizzApp.Web/bin/Debug/net6.0
/QuizzApp.Web/obj
/QuizzApp/bin/Debug/net7.0
/QuizzApp.Share/bin/Debug/net7.0
/QuizzApp.Share/obj
/QuizzApp.Web/bin/Debug/net7.0
