################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/QuizzApp/.vs/QuizzApp
/QuizzApp/bin/Debug/net6.0
/QuizzApp/obj
