@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Quizz app</h1>

    <form method="post">
        <input type="text" name="quizzId" />
        <button type="submit" action="EnterQuizz">Enter Quizz</button>
    </form>
</div>
